<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>init-options</key>
        <dict/>
	<key>scan-options</key>
	<dict>
		<key>kCBScanOptionAllowDuplicates</key>
                <false/>
	</dict>
	<key>connect-options</key>
	<dict>
		<key>kCBConnectOptionNotifyOnDisconnection</key>
		<false/>
		<key>kCBConnectOptionNotifyOnNotification</key>
		<false/>
		<key>kCBScanOptionAllowDuplicates</key>
		<false/>
	</dict>
</dict>
</plist>
